body{
  margin: 0;
  padding: 0;
  background: url(img/bg.jpg) no-repeat;
  background-size: cover;
}
.box{
  background: rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 1; right: 0;
  width: 320px;
  height: 650px;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  color: white;
  font-family: 'Century Gothic',sans-serif;
  animation-duration: .38s;
  animation-fill-mode: both;
  animation-name: slideInUp;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: center;
}
.box ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}
.box a{
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.container {
  padding: auto;
  text-align: center;
}

.image-circle {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border-top: 2px dashed #004D70;
  border-right: 2px dashed #004D70;
  border-left: 2px dashed #004D70;
  border-bottom: 2px dashed #004D70;
  padding: 10px;
  animation: spin 10s infinite linear;
}
.image-circle img {
  animation: spin 10s infinite reverse linear;
  width: 100%;
  border-radius: 50%;
}

@keyframes spin {
  100% {
     transform: rotate(1turn);
  }
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 10px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@media only screen and (max-width:960px){
  body{
    background: url(img/bg2.jpg);
  }
}
